@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-size: var(--m3-body-medium-font-size);
  text-decoration: var(--m3-body-medium-text-decoration);
  font-family: var(--m3-body-medium-font-family);
  font-weight: var(--m3-body-medium-font-weight);
  font-style: var(--m3-body-medium-font-style);
  font-stretch: var(--m3-body-medium-font-stretch);
  letter-spacing: var(--m3-body-medium-letter-spacing);
  line-height: var(--m3-body-medium-line-height);
  background-color: var(--surface);
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.agosh-theme-light {
  color-scheme: light;
}

.agosh-theme-dark {
  color-scheme: dark;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}