.layout {
	display: flex;
	justify-content: center;
	min-height: 61.375rem;
	background: linear-gradient(0deg, var(--surface11), var(--surface11)),
		var(--surface);
	position: relative;
}
.layout__left {
	display: flex;
	justify-content: center;
	width: 50%;
	min-height: 100vh;
	flex-shrink: 1;
}
.layout__left-content-wrapper {
	max-width: 48rem;
	width: 100%;
	display: flex;
	justify-content: center;
}
.layout__left-content {
	width: 100%;
	max-width: 31rem;
	position: relative;
}
.layout__right {
	width: 50%;
	background-color: var(--surface);
}
.layout__right-content-wrapper {
	display: flex;
	justify-content: center;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.layout__right-content {
}

/* /////// placeholder start*/

.placeholder {
	position: relative;
}
.placeholder__row {
	height: 200px;
	width: 600px;
	min-width: 600px;
	display: flex;
}
.placeholder__block {
	position: relative;
	display: flex;
	align-items: flex-end;
	height: 200px;
	width: 200px;

	transform-style: preserve-3d;
	backface-visibility: hidden;
}
.placeholder__block > img {
	border-radius: inherit;
}
.placeholder__block:after {
	content: "";
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: 0px;
	left: 0px;
	border-radius: inherit;
	background-color: inherit;
	/* ${({ vertical }) =>
      css`
        transform: ${vertical ? 'rotateX' : 'rotateY'}(-180deg);
      `} */
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.placeholder__block--delay1 {
}
.placeholder__block--delay2 {
}
.placeholder__block--delay3 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}
.placeholder__block--animation-1 {
}

.placeholder__block--shape-topLeft {
	border-radius: 0px 100px 0px 0px;
}

.placeholder__block--shape-rounded {
	border-radius: 200px;
}

.placeholder__block--shape-bottom {
	border-radius: 0px 0px 100px 100px;
}

.placeholder__block--shape-top {
	border-radius: 100px 100px 0px 0px;
}

.placeholder__block--shape-bottomRight {
	border-radius: 0px 0px 0px 100px;
}

.placeholder__block--shape-left {
	border-radius: 0px 100px 100px 0px;
}

.placeholder__block--shape-right {
	border-radius: 100px 0px 0px 100px;
}

.placeholder__block--shape-bipolar {
	border-radius: 100px 0px;
}

.placeholder__block--shape-topRight {
	border-radius: 0px 100px 0px 0px;
}

/* ///////placeholder end*/

@media only screen and (max-width: 80rem) {
	.layout {
		min-height: auto;
	}
	.layout__right {
		width: 100%;
		max-width: 40.5rem;
	}
	.layout__left-content-wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.layout__right-content-wrapper {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media only screen and (max-width: 60rem) {
	.layout__left {
		width: 100%;
	}
	.layout__right {
		display: none;
	}
}
