@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

main.app {  
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-size: var(--m3-body-medium-font-size);
  text-decoration: var(--m3-body-medium-text-decoration);
  font-family: var(--m3-body-medium-font-family);
  font-weight: var(--m3-body-medium-font-weight);
  font-style: var(--m3-body-medium-font-style);
  font-stretch: var(--m3-body-medium-font-stretch);
  letter-spacing: var(--m3-body-medium-letter-spacing);
  line-height: var(--m3-body-medium-line-height);
  background-color: var(--surface);
}

img,
picture,
video,
canvas,
svg {
  display: inline-block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@media screen and (min-width: 768px) {
  #hero {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #hero .logo-container {
    display: flex;
  }
  #middle-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.agosh-theme-light {
  color-scheme: light;
}
.agosh-theme-dark {
  color-scheme: dark;
}
